<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
  </head>
  <body>
    <h1>Password Reset Request</h1>
    <p>Hi{{#if email}} {{email}}{{/if}},</p>
    <p>You requested a password reset. Click the link below to reset your
      password:</p>
    <p>
      <a href="{{resetLink}}">Reset Password</a>
    </p>
    <p><strong>Note:</strong> This link is valid for 15 minutes.</p>
    <p>If you didn't request this, please ignore this email.</p>
  </body>
</html>